<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-publico'>

	{{> base/header }}

	<main id='content'>

		{{> story/intro }}

		{{> story/text_block_one }}

		{{> story/joyplot }}

		{{> story/text_block_two }}

		{{> story/text_block_three }}



	</main>


	<script src='{{basepath}}assets/scripts/d3.v4.10.2+jetpack.min.js'></script>
	<script src='{{basepath}}assets/scripts/d3.v3.js'></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/tinker10/D3-Labeler/master/labeler.js"></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script>
</body>

</html>