* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
  display: block;
}

a img {
  border: none;
}

blockquote {
  quotes: none;
}

blockquote:before,blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.hide-accessible {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.hide-invisible {
  visibility: hidden;
}

.hide-display {
  display: none;
}

.skip-to-main {
  border: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.skip-to-main:focus {
  width: auto;
  height: auto;
  background-color: #f4f4f4;
  padding: 0.5em;
  z-index: 1;
}

.prose {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 1rem;
}

.prose__hed {
  font-weight: bold;
}

.graphic__hed {
  font-weight: 500;
}

.graphic__dek {
  margin: 0;
  margin-bottom: 1.5rem;
}

.graphic__chart {
  width: 100%;
}

.graphic__key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.graphic__key li {
  padding: 0;
  margin-left: 0.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

.graphic__key li:before {
  content: '';
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: #282828;
  margin-right: 0.25em;
}

.tk-canela {
  font-family: 'Times New Roman', serif;
}

.loaded-canela .tk-canela {
  font-family: 'Canela Web', 'Times New Roman', serif;
}

.tk-publico {
  font-family: Georgia, Times, serif;
}

.loaded-publico .tk-publico {
  font-family: 'Publico Text Web', Georgia, Times, serif;
}

.tk-atlas {
  font-family: Helvetica, Arial, sans-serif;
}

.loaded-atlas .tk-atlas {
  font-family: 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
}

.xxx-small {
  font-size: 10px;
  line-height: 1.5;
}

.xx-small {
  font-size: 11px;
  line-height: 1.5;
}

.x-small {
  font-size: 12px;
  line-height: 1.5;
}

.small {
  font-size: 14px;
  line-height: 1.5;
}

.root {
  font-size: 16px;
  line-height: 1.7;
}

.medium {
  font-size: 17px;
  line-height: 1.7;
}

.large {
  font-size: 24px;
  line-height: 1.5;
}

.x-large {
  font-size: 32px;
  line-height: 1.5;
}

.xx-large {
  font-size: 40px;
  line-height: 1.2;
}

.xxx-large {
  font-size: 48px;
  line-height: 1.2;
}

.xxxx-large {
  font-size: 64px;
  line-height: 1.2;
}

body {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 0, 'tnum' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 0, 'tnum' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #fff;
  color: #282828;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-top: 1.5rem;
}

h2 {
  font-size: 32px;
  line-height: 1.5;
  margin-top: 1.5rem;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 1.5rem;
}

h4 {
  font-size: 17px;
  line-height: 1.7;
  margin-top: 1.5rem;
}

h5 {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 1.5rem;
}

h6 {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1.5rem;
}

p {
  margin: 1.5rem 0;
  font-size: 16px;
  line-height: 1.7;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #282828;
  color: #282828;
}

a:visited,a:hover {
  color: #282828;
}

strong,b {
  font-weight: bold;
}

em,i {
  font-style: italic;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

img,video {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-size: 16px;
}

sub,sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.container {
  max-width: 1200px;
  margin: auto;
  font-size: 12px;
}

.lead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.chart {
  margin: 40px;
  width: 1000px;
}

.bubble-label {
  font-size: 6px;
 /*font-weight: bold;*/
  text-align: center;
}

.legend {
  padding-bottom: 7px;
}

.legend_item {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 2px;
}

.legend_item_icon,.legend_item_text {
  display: inline-block;
  vertical-align: middle;
}

.legend_item_icon {
  margin-right: 5px;
  height: 10px;
  width: 10px;
}

svg {
  display: block;
  margin: 0 auto;
}

.button {
  min-width: 150px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

#chart {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

h4 {
  font-family: 'Atlas Grotesk Web';
}

.year {
  font-size: 35px;
  fill: #aaa;
  cursor: default;
  font-weight: bold;
}

.tooltip {
  font-family: 'Atlas Grotesk Web';
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 12px;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
}

.tooltip .name {
  font-family: 'Atlas Grotesk Web';
  font-weight: 600;
}

.footer {
  text-align: center;
}

.ttimg {
  float: left;
}

.tttext {
  float: right;
  margin-left: 15px;
  margin-right: 8px;
}

.bubble_main_title {
  font-size: 24px;
  font-family: 'Atlas Grotesk Web';
  text-align: center;
  margin-top: 5rem;
}

.bubbles {
  font-size: 50px;
}

header {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header a.logo {
  display: block;
  border: none;
  max-width: 9rem;
  margin: 1rem auto;
}

header a.logo svg {
  fill: #282828;
  fill: #fff;
  display: block;
  width: 100%;
}

#content {
  width: 100%;
  overflow: hidden;
}

.opening-text {
  background-color: #000;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.opening-text .body_text p {
  color: #fff;
}

.opening-text .body_text blockquote {
  background: #3c3c3c;
  color: #e0e0e0;
}

.body_text {
  margin: 0 auto;
  max-width: 550px;
}

.body_text .intro__dek {
  font-size: 1.5rem;
  text-align: left;
}

.body_text p,.body_text blockquote {
  padding-top: 0px;
  line-height: 1.5;
  margin: 1.5rem 0rem;
  font-size: 1rem;
  font-family: 'Atlas Grotesk Web';
}

.body_text blockquote {
  font-size: 0.9rem;
  font-weight: 500;
  background: #ececec;
  padding: 1rem 2rem;
}

.intro {
  margin: 0 auto;
  padding: 4rem 1rem 1.5rem 1rem;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro .intro_video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #282828;
  z-index: 0;
}

.intro .intro_video .video-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#000));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), #000);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0), #000);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), #000);
  position: absolute;
  bottom: 0px;
  height: 20vh;
  width: 100%;
  display: none;
}

.intro .intro_video .dot {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url("assets/dot.png");
  opacity: 0.3;
}

.intro .intro_video video {
  opacity: 0.5;
  width: auto;
  height: auto;
  min-height: 110%;
  min-width: 130%;
  display: block;
  position: absolute;
  -webkit-filter: grayscale(0.2);
  filter: grayscale(0.2);
  top: -10%;
  left: -30%;
}

.intro__hed {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 5rem;
  font-weight: 300;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
}

.intro__byline {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  color: #fff;
}

.intro__byline a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.intro__dek {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  position: relative;
  color: #fff;
}

.step {
 /*margin: 2rem auto;*/ /*border: 1px solid #333;*/
  background-color: #000;
}

.step.is-active {
  background-color: #000;
}

.step.is-active p {
  font-size: 15px;
  font-weight: bold;
  height: 100%;
}

.step p {
  text-align: center;
 /*padding: 1rem;*/
  font-size: 12px;
  color: #fff;
}

.step h4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.joy-intro {
  background: #000;
  color: #fff;
  margin-bottom: 5rem;
}

.joy-intro .step .step-highlight {
  background: rgba(255,165,0,0.38);
  padding: 0 0.2rem;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
}

.joy-intro .intro__dek {
  margin-bottom: 2rem;
}

.joy-intro .body_text {
  margin-bottom: 8rem;
}

#scroll {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  width: 100%;
  padding-bottom: 2rem;
}

#scroll .scroll__graphic {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  bottom: auto;
}

#scroll .scroll__graphic:before {
  content: 'Skateboard Music by Genre';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
  margin: 0 auto;
  margin-left: 40%;
  text-align: center;
  font-family: 'Atlas Grotesk Web';
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

#scroll .scroll__graphic .chart {
  position: absolute;
  width: 60%;
  background: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  margin-left: 40%;
}

#scroll .scroll__graphic .chart svg {
  overflow: visible;
  display: block;
  position: relative;
}

#scroll .scroll__graphic .chart svg .maskRect {
  fill: #000;
  stroke: #ffa500;
  stroke-width: 6px;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#scroll .scroll__graphic .chart svg .axis--x .tick line {
  stroke: #fff;
}

#scroll .scroll__graphic .chart svg .axis--x .tick text {
  font-size: 0.8rem;
  font-family: 'Atlas Grotesk Web';
  fill: #fff;
  font-weight: 600;
  fill: rgba(255,255,255,0.7);
}

#scroll .scroll__graphic .chart svg .activities {
  font-family: 'Atlas Grotesk Web';
}

#scroll .scroll__graphic .chart svg .activities .activity .percent-annotation {
  font-size: 11px;
  fill: #ccc;
}

#scroll .scroll__graphic .chart svg .activities .activity .line {
  stroke-width: 1.5px;
}

#scroll .scroll__graphic .chart svg .activities .activity .line-bottom {
  stroke: rgba(204,204,204,0.51);
  shape-rendering: crispEdges;
  stroke-dasharray: 2, 2;
}

#scroll .scroll__graphic .chart svg .activities .activity text {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

#scroll .scroll__graphic .chart svg .axis--activity .tick text {
  font-size: 0.8rem;
  font-family: 'Atlas Grotesk Web';
  fill: rgba(0,0,0,0.8);
}

#scroll .scroll__text {
  position: relative;
  width: 25%;
  margin-left: 10%;
}

#scroll .scroll__text .step {
  margin-bottom: 30rem;
}

#scroll .scroll__text .step h4 {
  font-family: 'Atlas Grotesk Web';
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
}

#scroll .scroll__text .step p {
  text-align: left;
  font-size: 1rem;
  font-family: 'Atlas Grotesk Web';
  line-height: 1.8;
}

#scroll .is-fixed {
  position: fixed;
}

#scroll .is-bottom {
  bottom: 0;
  top: auto;
}

.axis .domain {
  display: none;
}

.axis--x line {
  stroke: #aaa;
}

.axis--activity .tick line {
  display: none;
}

.axis--activity .tick:nth-child(odd) text {
  fill: #222;
  fill: #fff;
}

.line {
  fill: none;
 /*stroke: #fff;*/;
}

.area {
 /*fill: #448cab;*/
  fill: #ff7f50;
  fill: #151f35;
}

.activity:nth-child(odd) .area {
  fill: #5ca3c1;
  fill: #331d2b;
}

.joy_body {
  background: #000;
  font-size: 5px;
  color: #fff;
  width: 100%;
  max-height: 1500px;
  padding: 0rem 1rem 0 0;
}

p.joy_text {
  color: #fff;
}

.button:hover {
  background-color: #ff7f50;
  color: #fff;
}

#vis {
  position: relative;
  margin: 0 auto;
}

#vis .title {
  font-family: 'Atlas Grotesk Web';
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

#vis .title-bar {
  fill: #888;
}

#vis .year {
  font-family: 'Atlas Grotesk Web';
  font-size: 24px;
  text-transform: uppercase;
}

#vis svg g circle {
  stroke-opacity: 0.8;
  cursor: hand;
  cursor: pointer;
}

#vis svg g circle:hover {
  stroke-opacity: 1;
  fill: #ccc;
  stroke: #000;
}

#vis svg g text {
  font-family: 'Atlas Grotesk Web';
  pointer-events: none;
  cursor: pointer;
  cursor: hand;
  text-anchor: middle;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5), 0px 1px 1px rgba(255,255,255,0.5), 1px 0px 1px rgba(255,255,255,0.5), -1px -1px 1px rgba(255,255,255,0.5), -1px 0px 1px rgba(255,255,255,0.5), 0px -1px 1px rgba(255,255,255,0.5);
  letter-spacing: -0.2px;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#toolbar .button {
  font-family: 'Atlas Grotesk Web';
  background: #ededed;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

#toolbar .button:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#toolbar .button:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#toolbar .button:hover {
  color: #fff;
  background: #999;
}

#toolbar .active {
  background: #333;
  color: #fff;
  border: none;
}

#toolbar .active:hover {
  color: #fff;
  background: #333;
}

#search {
  font-family: 'Atlas Grotesk Web';
  margin-left: 3rem;
  height: 23px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #aaa;
}

.prose {
  line-height: 1.2;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  max-width: 90rem;
}

.prose__hed {
  font-size: 60px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.9rem;
  margin: 0 -5px;
  line-height: 0.5;
  width: 50%;
  font-weight: 10%;
}

.th {
  display: none;
  font-weight: bold;
 /*background-color: #f2f2f2;*/
  border-bottom: 0.05px solid #d0d0d0;
  color: #74a9cf;
}

.th > .td {
  white-space: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border-bottom: 0.05px solid #d0d0d0;
}

.td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: 0.3em;
  word-break: break-word;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  margin: 0 5px;
}

.waffle_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.waffle_new .waffle_row {
  margin-right: 10px;
  margin-bottom: 15px;
}

.waffle_new .waffle-company {
  margin-right: 10px;
}

.waffle_new .waffle-company .waffle-company-name {
  font-size: 12px;
  font-family: 'Atlas Grotesk Web';
  width: 100%;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
}

.waffle_new .waffle-company .waffle-company-box {
  width: 3px;
  height: 3px;
  background: #000;
  position: absolute;
}

.waffle_title {
  font-size: 11px;
  position: relative;
  text-align: center;
  font-family: 'Atlas Grotesk Web';
  margin: 0px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px dashed #aaa;
  margin-bottom: 0.5rem;
}

.waffle_main_title {
  font-family: 'Atlas Grotesk Web';
  font-size: 24px;
  margin: 0px;
  text-align: center;
  margin-top: 4rem;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
}

.legend .legend_item {
  font-size: 12px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 500;
}

.waffle_list {
  margin-left: 40px;
  list-style-type: circle;
}

@media only screen and (min-width: 40em) {
  body {
    font-size: 17px;
  }

  p {
    font-size: 17px;
    line-height: 1.7;
  }

  li {
    font-size: 17px;
  }

  button {
    font-size: 17px;
  }

  .intro__hed {
    font-size: 48px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 50em) {
  .intro__hed {
    font-size: 64px;
    line-height: 1.2;
  }
}

/*# sourceMappingURL=bundle.css.map */
