
.axis .domain {
    display: none;
}

.axis--x text {
    fill: #999;
}

.axis--x line {
    stroke: #aaa;
}

.axis--activity .tick line {
    display: none;
}

.axis--activity text {
    font-size: 14px;
    fill: #777;
    fill: white;
}

.axis--activity .tick:nth-child(odd) text {
    fill: #222;
    fill: white;
}

.line {
    fill: none;
    /*stroke: #fff;*/
}

.area {
    /*fill: #448cab;*/
    fill: coral;
    fill: black;
}

.activity:nth-child(odd) .area {
    fill: #5ca3c1;
    fill: black;

}

.joy_body {
    background: black;
    font-size: 5px;
    color: white;
    width: 100%;
    max-height: 1500px;
    padding: 0rem 1rem 0 1rem;
}

p.joy_text {
    color: white;
}

