/* CUSTOM STORY STYLE */

.button:hover
	background-color coral
	color white




#vis
	position relative
	margin 0 auto
	.title
		font-family 'Atlas Grotesk Web'
		font-size 14px
		font-weight 900
		text-transform uppercase
		letter-spacing 1px
		color #333
	.title-bar
		fill #888
	.year
		font-family 'Atlas Grotesk Web'
		font-size 24px
		text-transform uppercase
	svg
		g
			circle
				stroke-opacity .8
				cursor hand
				cursor pointer
				&:hover
					stroke-opacity 1
					fill #ccc
					stroke black
			text
				font-family 'Atlas Grotesk Web'
				pointer-events none
				cursor pointer
				cursor hand
				text-anchor middle
				text-transform uppercase
				font-size 11px
				font-weight 600
				text-shadow 1px 1px 1px rgba(255,255,255,.5), 0px 1px 1px rgba(255,255,255,.5), 1px 0px 1px rgba(255,255,255,.5), -1px -1px 1px rgba(255,255,255,.5), -1px 0px 1px rgba(255,255,255,.5), 0px -1px 1px rgba(255,255,255,.5)
				letter-spacing -.2px

#toolbar
	display flex
	justify-content center
	.button
		font-family 'Atlas Grotesk Web'
		background #ededed
		border none
		font-size 12px
		font-weight 600
		color #333
		&:first-of-type
			border-top-left-radius 6px
			border-bottom-left-radius 6px
		&:last-of-type
			border-top-right-radius 6px
			border-bottom-right-radius 6px
		&:hover
			color white
			background #999
	.active
		background #333
		color white
		border none
		&:hover
			color white
			background #333

#search
	font-family 'Atlas Grotesk Web'
	margin-left 3rem
	height 23px
	font-size 14px
	font-weight 500
	border none
	width 1px
	flex-grow 1
	max-width 150px
	border-bottom 1px solid #aaa
	@media (max-width: 500px)
		margin-left 10px

.prose
	&__hed
		font-size 60px
	    line-height 1.2
	    margin-top .75rem
	    margin-bottom 1rem
	    max-width 90rem


.table {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  font-size: .9rem;
  margin: 0 -5px;
  line-height: .5;
  width: 50%;
  font-weight: 10%;
}

.th {
  display: none;
  font-weight: bold;
  /*background-color: #f2f2f2;*/
  border-bottom: .05px solid #d0d0d0;
  color: #74a9cf;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: .05px solid #d0d0d0;
}
/*
.tr:nth-of-type(even) {
  background-color: #e8eff9;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}*/

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.3em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  margin: 0 5px;
}
