/* CUSTOM STORY STYLE */

main 
	padding 10rem 1rem 0 1rem
	max-width 55rem
	margin 0 auto

.prose
	&__hed
		font-size 60px
	    line-height 1.2
	    margin-top .75rem
	    margin-bottom 1rem
	    max-width 90rem
