.waffle_new
  display flex
  justify-content center
  flex-wrap wrap
  margin-top 1rem
  .waffle_row
    margin-right 10px
    margin-bottom 15px
  .waffle-company
    margin-right 10px
    .waffle-company-name
      font-size 12px
      font-family 'Atlas Grotesk Web'
      width 100%
      position absolute
      margin 0px
      top 0px
      left 0px
    //.waffle-company-box-container
    .waffle-company-box
      width 3px
      height 3px
      background black
      position absolute

.waffle_title
  font-size 11px
  position relative
  text-align center
  font-family 'Atlas Grotesk Web'
  margin 0px
  text-transform uppercase
  font-weight 600
  letter-spacing 1px
  border-bottom 1px dashed #aaa
  margin-bottom .5rem


.waffle_main_title
  font-family 'Atlas Grotesk Web'
  font-size 24px
  margin 0px
  text-align center
  margin-top 4rem
.legend
  display flex
  text-align center
  justify-content center
  margin-top 1rem
  .legend_item
    font-size 12px
    font-family 'Atlas Grotesk Web'
    font-weight 500



.waffle_list {
    margin-left: 40px;
    list-style-type: circle;
}
