<div class='intro'>
	<div class="intro_video">
		<video src="assets/intro_video.mp4" autoplay muted preload playsinline loop>
		</video>
		<div class="dot">
		</div>
		<div class="video-overlay">
		</div>
		<div class="sound-wrapper">
			<div class="sound-on">
				@@include('volume-2.svg')
			</div>
			<div class="sound-off">
				@@include('volume-x.svg')
			</div>	
		</div>

	</div>
	<h1 class='intro__hed tk-canela'>{{info.title}}</h1>
	<p class='intro__dek tk-atlas'>{{info.description}}</p>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
</div>
