<div class="joy_body">

  <h1 class='intro__hed tk-canela'>Genre Evolution Over Time</h1>

  <p class="joy_text">1 As with any sufficiently developed sub-culture, skateboarding has gone through (and continues to go through) shifts in styles and trends.</p>
  <p>2 Throughout its existence, skateboarding has gone through its fair share of trends, with different styles coming in and out of vogue over the years.
  </p>

  <p>
  Particular music genres are often associated with particular styles in skateboarding; hip hop is often used with technical street skating, heavier and faster music is generally used with transition, and indie music sort of fits everywhere. 
  <br>
  It's not surprising, then, that year-to-year changes in the genre of skate video's often reflects the year-to-year changes in the styles of skateboarding.

  </p>

  <div class="joyplot"></div>
</div>