

<div class="joy-intro" style="">
	<div class="body_text" >
		<h3 class='intro__dek tk-atlas' style="">Genre Evolution Over Time</h3>
	  <p>As with any sufficiently developed sub-culture, skateboarding has gone through, and continues to go through, temporal shifts in styles and trends.</p>
	  <p>Particular music genres are often associated with particular styles in skateboarding. For example, hip hop is often used with technical street skating, while heavier, faster music is generally used with transition (think ramps and ppols).</p>
	  <p>It's not surprising, then, that the year-to-year changes in the genre of skate video's often reflects the year-to-year changes in the styles of skateboarding, serving as a vessel for communicating what was hot in that genre.</p>
	</div>

	<section id='scroll'>
		<div class='scroll__graphic'>
			<div class='chart'>
				<div class="joyplot"></div>
			</div>
		</div>
		<div class='scroll__text'>
			<div class='step' data-step='1'>
				<h4> The Beginnings </h4>
				<p>Skate videos became an established feature of skateboarding culture in the later-half of the 1980s.
				For skateboarding, the 1980s were a pretty wild time; many DIY, skater-run companies were forming, vert skating, with its eclectic and show-man personalities, was in full popularity, and skateboarding was, for the first time, seeing commercial success.

				Early skate videos, borrowing from their counter-culture origins, were overwhelmingly dominated by punk rock music. Many of the artists featured in the first videos were bands formed by the skaters themselves, but early punk icons, such as Black Flag, The Faction, and Descendents, saw prominence as well.

				The iconic noise rock duo Sonic Youth, an artist heavily used throughout skateboarding, was first featured in a skate video in 1989, years before their mainstream success in the 1990s/2000s.
				</p>
			</div>
			<div class='step' data-step='2'>
				<h4> The 90's </h4>
				<p> In the 90’s, Skateboarding entered something of a hermit stage - it was no longer 'cool', and many aspects of the culture changed. Vert skating died, technical street skating took over, skateboarding entered the infamous era of ‘big pants, small wheels’[image link], and, of course, the music changed.
				<br>
				Hip Hop entered skating's discography for the first time and quickly filled the gap left by the large decline in punk rock music. Hip Hop boomed in the 1990s, and became something of the new counter-culture anthem.
				Artists such as ___, ___, and ___, were used for the first time, and set the tone of future soundtracks for years to come.

				This decade was also the most popular for jazz/R&B artists,

				 </p>
			</div>
			<div class='step' data-step='3'>
				<h4> The early 2000's </h4>
				<p>In the early 2000’s,  the popularity of techincal skating was replaced with a 'bigger-is-better' approach; with more 'stairs, gaps, and rails, and baggy pants are replaced tight pants. .
				<p>Indie music and Classic Rock replaced Hip Hop as the most popular artists, and skateboarding adopts a sort of 'rock-and-roll' attitude. (For an aesthtic perspective, consider that this is the time when baggy pants were replaced with tight pants). The dominant trend in skateboarding shifted from technical street skating to 'gnarly' stairs and rails.
				<p>Thanks to the likes of shows such as Jackass, skateboarding entered the mainstream again, and with each passing year, became more anad more popular. Popular skateboarding adopted a 'bigger-is'better' approach; skating big stairs and rails was en vouge, a This music shift is also reflected in the attire - the baggy pants of the 1990s became replaced with the 'hesh' aesthetic: long hair and tight jeans.</p>
			</div>
			<div class='step' data-step='4'>
				<h4> The Contemporary</h4>
				<p>Unlike decades past, the current era of skateboarding sees no *single* defining aesthetic. In fact, almost all styles/approaches have an audience, and trends are even [coming back].</p>
				<p>Appropriately Indie music, which itself is a broad categorization of music, is the most popular genre. That said, all genres see non-trivial employment in skate videos.</p>
				<p>The most popular artists during this year are ___, ___, and ___.  </p>
			</div>
			<div class='step' data-step='5'>
				<p> Most of you probably noted that this chart was inspired by Joy Division's classic Unknown Pleasure album cover. Joy Division is used consistently overtime, with peak popularity in _____.</p>
			</div>
		</div>
	</section>
	<section id='outro'></section>
	<div class='debug'></div>
</div>
