

<div class="joy-intro" style="">
	<section id='scroll'>
		<div class='scroll__graphic'>
			<div class='chart'>
				<div class="joyplot"></div>
			</div>
		</div>
		<div class='scroll__text'>

			<div class='step' data-step='1' data-year="1989">
				<h4>Music Evolution Over Time</h4>
				  <p>Over time, skateboarding has evolved: different styles and techniques of skateboarding have come and gone, skateboarding has risen and fallen from popularity, and the general aesthetics of skateboards have changed.
					</p>
				  <p>These shifts in skateboarding culture often correlate with changes in skate-video music. Let’s examine how music genres have changed over time.
				  </p>
			</div>

			<div class='step' data-step='2' data-year="1989">
				<h4>The Beginnings</h4>
				<p>Following the advent of the VHS tape, skate videos became an established feature of skateboarding culture in the <span class="step-highlight">later-half of the 1980s</span>.
				</p>
				<p>For skateboarding, the 1980s were a pretty wild time. DIY, skater-run companies were forming. Vert skating, with its eclectic and show-man personalities, was in full popularity. And skateboarding was, for the first time, seeing commercial success. Early skate videos, borrowing from skateboarding's countercultural origins, were overwhelmingly dominated by punk rock music.
				</p>
				<p>Although many of the featured artists in the first videos were temporary groups formed by the skaters themselves, early punk icons, such as Black Flag, the Faction, and Descendents, saw prominent use, often well before their eventual rise in popularity. For example, the iconic noise rock duo Sonic Youth, an artist heavily featured across skateboarding videos, was first featured in a skate video in 1989, years before their mainstream success in the mid-1990s.
				</p>
			</div>
			<div class='step' data-step='3' data-year="1999">
				<h4>The ‘90s</h4>
        <p><span class="step-highlight">In the 1990’s</span>, skateboarding's mainstream popularity declined. Vert skating died, technical street skating took over, and skateboarding entered the infamous era of “big pants, small wheels.”
				</p>
				<p>The large changes in skateboarding culture brought equally large changes in genre. Punk and classic rock saw large declines in use, and hip hop, the defining genre of the decade, quickly took their place.
				</p>
				<p>The high use of hip hop during skateboarding’s least popular years cemented the genre as something of a new counterculture anthem, with artists such as Gang Starr, Mobb Deep, and Nas seeing finding their way into skate videos.
				</p>
				<p>This was also a popular decade for jazz/funk/soul artists, likely thanks to Spike Jonze's highly influential <a href="https://vimeo.com/29019162">Video Days</a>, which was released in 1991 and featured the likes of John Coltrane, War, and the Jackson 5.
				</p>
			</div>

			<div class='step' data-step='4' data-year="2010">
				<h4>The Early 2000s</h4>
				<p>The success of shows such as <i>Jackass</i> and <i>Viva La Bam</i> ushered skateboarding back into mainstream popularity, and popular skateboarding changed. The low-impact technical street skating of the ’90s gave way to a “bigger is better” approach, as skaters began to jump down longer rails and stairs.
				</p>
				<p>The music of skate videos evolved in tandem. Over <span class="step-highlight">the 2000s</span>, hip hop's popularity gradually decreased, and indie and classic rock steadily rose to prominence. The faster, more aggressive style of these genres fit well with the new “gnarlier” style of skateboarding. Such changes were reflected in the fashion as well: pants became tighter, shoes less puffy, and hair longer.
				</p>
				<p>The most popular classic rock artists during this time were the Beatles and the Rolling Stones. For indie music, MGMT and Modest Mouse held the throne.
				</p>
			</div>
			<div class='step' data-step='5' data-year="2017">
				<h4>The Contemporary</h4>
				<p>With millions of skaters worldwide, skateboarding is becoming more diverse than ever. As a result, <span class="step-highlight">this era</span> of skateboarding has no single defining aesthetic, and almost all styles and approaches have an audience.
				</p>
				<p>Appropriately, indie music, itself a broad categorization of music, is the most popular genre. Hip hop, the second most popular genre for much of this time frame, ultimately finishes at its lowest point since 1990.
				</p>
				<p>The most popular artist of the current decade is Joy Division. Sonic Youth, who appeared in some of skateboarding's first videos, breaks the top-five most popular artists. I guess some artists just pair well with skateboarding.
				</p>
			</div>
		</div>
	</section>
	<!-- <div class='debug'></div> -->
</div>
