<div>
<div class="body_text">
	<blockquote>
		...the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack.
	</blockquote>

	<p >I grew up in San Diego, California, and, like many other kids from Southern California, skateboarding  was my life. When I wasn't skating, I was watching skate videos, discovering not only my new favourite skaters , but my new favourite music. 
	My first skate video, Blind's Video Days, turned me on to a diverse set of awesome artists, such as  Dinosaur Jr., Black Flag, and John Coltrane.
	Music in skate videos was different than what they played on the radio. It spanned all genres, and all time-frames. It felt diverse. It felt counterculture. It felt cool.</p>

	<p>Of course, this sentiment is not unique. Since its inception in the 1960s, skateboarding and music have been intrinsically linked, with  a <span class="artist_list">diverse array of artists</span> explicitly mentioning skateboarding (and skate video music) as a principal source of inspiration.</p>

	<p> In a time before Spotify or Pandora, skate videos provided something of a music tastemaker - a playlist of what's cool and who's hot in music, regardless of the genre or release year of the music.</p>


	<p> To be clear, by skate video I'm refering to a produced video of skateboarding set to music, produced professionaly by a skateboarding company, or independently through a film-maker or group of skaters.</p>


	<p> Perhaps unexpectedly, music selection is often more important than the skating itself. 

	In his <a href="http://www.thrashermagazine.com/articles/corey-duffel-interview-3/">most recent interview</a>, converse pro Corey Duffel summarises it aptly:
	<br>
	<blockquote>
	...the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack. 
	</blockquote>
	</p>

	<p>By exploring this playlist, we can learn how music tracks the evolution of the styles and trends of skateboarding, as well as identify the <i>who's who</i> in this sphere of influence, earning our own street cred. </p>

	</div>
</div>

