
<div style="background-color:white;">

<div class="body_text">

	<p> Let's now turn out attention to the artists that comprise skateboarding's playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across skate videos.
	</p>

	<!--<h3 class='intro__hed tk-canela'>The Most Popular Artists</h3>-->

	<center><div class="bubble_main_title"></div></center>
	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>




</div>

	<div id="vis">
</div>

<div class="body_text">
	<br>

	<ul>
	<li><p>
	The very high popularity of Classic Rock artists such as The Beatles and Pink Floyd is definitely unexpected.
	Perhaps this is because Classic Rock has grown to become strongly associated with mainstream music, while skateboarding is generally associated with 'counterculture' genres, such as Punk or Hip Hop. Still, the epic ballads and guitar-raced riffs of the genre  <a href = "https://www.youtube.com/watch?v=CGCqHn4Rpbc">definitely pair well with the right skating</a>.
	 </p>
	 </li>

	 <li><p>
	When it comes to rap, skate videos favor pre-2000s artists, with the most popular including Gang Starr, Mobb Deep, and Public Enemy.
	This preference is not a result of earlier rappers having had more air time: the most-used hip hop artist for every year post- 2000 is from the 1990s. 
	</p>
	</li>

	<li>
	<p> Unlike other genres, Indie music isn't dominated by a select few artists. Rather, many artists feature similar levels of use, reflecting the popularity and wide selection of the genre. Many of those listed among the most-used indie artists, such as New Order, Modest Mouse, Joy Division, Sonic Youth, are among those most-often associated with skateboarding, and it's no surprise to see their popularity reflected in skate videos. 
	</p>
	</li>

	<li>
	<p>
	Many of the displayed artists are themselves skateboarders. Bad Shit, Grindline The Band, and CKY, which see prominent use for metal music, are composed  entirely of skateboarders (Bad Shit's guitarist is the editor of Thrasher Magazine). Tommy Guerrero, the most-used artist from jazz, is himself a professional skateboarder-turned-musician. The same is true of Ray Barbee, another popular Jazz musician.
	</p>
	</li>

	<li>
	<p> The most popular artsits in punk, Bad Brains, Minor Threat, Devo, Black Flag - reads like a whos-who of influential artists in the genre. Unsurprisingly, Fugazi leads the pack. Fugazi has been paired with some of skateboarding's most iconic skateboarders, and Ian Mackaye, Fugazi (and Minor Threat) lead singer, was at one point an avid skateboarder.
	</p></li>
	<!--<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. 
	We'll observe each genre in turn, as well as those particular years where a certain artist dominated.

	I should mention that, because of the ambiguity of genre classiciation, I opted for broad genre categories.
	Because of the ambiguity and subjectivity of genre classiciation (it's hard [even within a single genre](https://pudding.cool/2017/03/punk/)), I opted to use broad genre categories.
	</p>
	<p> To reduce the sheer quantity of artists shown, I limited to displayed artists to those used at least four times in skate videos. Some observations for a few of the genres: </p>
	<br>-->
	</ul>





</div>
</div>
