
<div style="background-color:white;">

<div class="body_text">
	<p> So genre serves as an appropriate mapping to both macro and micro level styles of skateboarding.</p>


	<p> Let's now turn out attention to the artists that comprise skateboarding's playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across skate videos.
	</p>

	<!--<h3 class='intro__hed tk-canela'>The Most Popular Artists</h3>-->

	<center><div class="bubble_main_title"></div></center>
	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>




</div>

	<div id="vis">
</div>

<div class="body_text">
	<br>
	<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. 
	</p>
	<!--<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. 
	We'll observe each genre in turn, as well as those particular years where a certain artist dominated.

	I should mention that, because of the ambiguity of genre classiciation, I opted for broad genre categories.
	Because of the ambiguity and subjectivity of genre classiciation (it's hard [even within a single genre](https://pudding.cool/2017/03/punk/)), I opted to use broad genre categories.
	</p>-->

	<p>
	When it comes to Hip Hop, skate videos favor pre-2000s artists, with the most popular being Gang Starr and Public Enemy. This disparity in popularity between pre-and-post 2000s artists may be a function of time; after all, older artists have had more opportunities for play time. Viewing the top ten yearly dominating artists, we see that skate-videos just have a preference for older hop hop:
	</p>
	<p>

	Interestingly, medium-popular artists, such as Biggie, Tupac, and Nas, dominated in particular years, while Gang Starr the most frequently used Hip Hop artist overall, only dominates a single year. 
	</p>
	<br>

	<p> The most-used indie artists are exactly whom we'd expect. New Order, Modest Mouse, Joy Division, Sonic Youth, and many more of skateboarding's staple artists find themselves in this genre, and it's no surprise to see their popularity reflected across skate videos. Unlike other genres, no single artist really dominates the genre. Tnstead, many artists feature mediocre levels of popularity, reflecting the high popularity of the genre.
	</p>
	

	<p> Bad Brains, Minor Threat, Devo, Black Flag - those most-used artists in skateboarding reads like a whos-who of influential punk bands. Unsurprisingly, Fugazi leads the pack. Fugazi has been paired with some of skateboarding's most iconic skateboarders, and Ian Mackaye, Fugazi (and Minor Threat) lead singer, was at one point an avid skateboarder.

	Mackaye described the influence skateboarding had on his music, and detailed the contrast between the openness/accessibility of skateboarding and punk rock, with the closed off, exclusive culture of mainstream music. This sentiment is undoubtedly shared by many skateboarders-turned-musicians, and is likely a large reason indie, hip hop, and punk have come to dominate skateboarding to such an extent.

	</p>


	<p>
	The most popular Jazz artist, Tommy Guerrero, is himself a professional skateboarder-turned-muscician. The same is true of Ray Barbee, another frequently used Jazz artist. Looking at artists on a year-by-year basis, we can see that classic jazz artists domina
	</p>

	<p>
	Despite never dominating a particular era in skateboarding, metal consistently earned an audience. The dominance of Black Sabbath in the top 10 is hardly surprisng (go to a skatepark and count the number of Volume 4 shirts you see), 
	Several of the featured metal artists, such as Bad Shit, CKY, and Grindline The Band, have direct roots to skateboarding. Even ___ from Metallica used to be an avid skater (though, breaking his wrist in-between sets while on tour put an end to that).
	</p>

	<p> 
	Perhaps the most surprising result is the dominance of classic rock. While it's not the most popular genre overall (Indie and Hip Hop take that credit), it features the largest quantity of most-used artists.

	Something can be said of the macro-similarities between classic rock and skateboarding. Both started off as symbols of the counter-culture, only to later gain mass appeal (skateboarding is heading to the 2020 Olympics), and have become influential pieces of contemporary culture.

	The results is surprising because those artists, such as The Beatles, The Rolling Stones, and Pink Floyd, are fairly 'mainstream' - so, apart from making good music, how did they come to dominate the so-called soundtrack of the counterculture? 

	Despite their popularity, many classic rock songs still conjure up the counterculture spirit of skateboarding. Take a look at the most used songs in Classic Rock:

	Several songs, such as Jefferson Airplane's Volunteer, CCR's Fortunate Son, and SteppenWolf's Born To Be Wild speak directly to this sentiment. The dominance also comes from a harder-to-pin perspective: genres are hard to classify, one person's punk may be another's metal. 

	</p>


</div>
</div>
