<h1 class='intro__hed tk-canela'>The Most Popular Artists</h1>

<p>
Hip Hop comprises X % of the music in skateboarding. Classic Rock X %. Indie music, which dominates the contemporary, comprises X% overall, while electronic and rock, combined, yield less than X%.
(insert very small table with genre breakdowns, then discuss how this relates to time-series?)
</p>


<p>2. Turning our attention to the artist-level, we can explore directly the members of skateboarding's coveted playlist.
In the graph below, each node represents an artist, color-coded by genre and sized according to how often that artist was used across all skate videos.</p>

<div id="toolbar">
<!-- <a id="all" class="button">Artists</a> -->
<a id="genre" class="button active">By Genre</a>
<a id="use" class="button">By Popularity</a>
<div class="SearchBar"></div>
</div>

<div id="vis"></div>
<div class="chart"></div>

<p>Discuss plot </p>