<div>
<div class="body_text">
	<blockquote>
		"But the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack."
	</blockquote>

	<p> Since its earliest days, skateboarding has been intrinsically linked with music. 
	Many well-known artists have referenced skateboarding as a defining influence, and many popular songs explicitly mention the act skateboarding.
	Culturally, skateboarding is associated with a large variety of musical styles, and while some styles have been more-or-less popular at different points in time, almost all have had a place at some point in skateboarding. 
	</p>

	<p>
	Aside from the physical act of skateboarding, these videos are the most important piece of skateboarding culture. They communicate the current styles/trends within skating, push skateboarding's progression, and, above all else, serve as the vessels for the soundtrack of skateboarding.

	Skate videos are exactly what they sound like: videos of skateboarding set to music, produced professionaly by a skateboarding company, or independently through a film-maker or group of skaters. 

	Growing up, like most skaters, if I wasn't skating, I was watching skate videos, discovering not only my new favourite skaters , but my new favourite music. 
	My first skate video, Blind's Video Days, turned me on to a diverse set of awesome artists, such as Dinosaur Jr., Black Flag, and John Coltrane.
	</p>
	<p>
	In a time before Spotify or Pandora, skate videos provided something of a music tastemaker - a playlist of what's cool and who's hot in music. It spanned all genres, and all time-frames. It felt diverse. It felt counterculture. It felt cool.

	In what follows, we'll explore the artists comprising this influential soundtrack, as well as discuss how the music used in skate videos parallels the ebbs-and-flows of very culture of skateboarding itself. Who knows, maybe you'll find some cool new music you're into.

	<p>By exploring this playlist, we can learn how music tracks the evolution of the styles and trends of skateboarding, as well as identify the <i>who's who</i> in this sphere of influence, earning our own street cred. </p>

	</div>
</div>

