
<div style="background-color:white;">

<div class="body_text">
	<p> So genre serves as an appropriate mapping to both macro and micro level styles of skateboarding.</p>


	<p> Let's now turn out attention to the artists that comprise skateboarding's playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across skate videos.
	</p>

	<!--<h3 class='intro__hed tk-canela'>The Most Popular Artists</h3>-->

	<center><div class="bubble_main_title"></div></center>
	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>




</div>

	<div id="vis">
</div>

<div class="body_text">
	<br>
	<!--<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. 
	We'll observe each genre in turn, as well as those particular years where a certain artist dominated.

	I should mention that, because of the ambiguity of genre classiciation, I opted for broad genre categories.
	Because of the ambiguity and subjectivity of genre classiciation (it's hard [even within a single genre](https://pudding.cool/2017/03/punk/)), I opted to use broad genre categories.
	</p>-->

	<p>
	That Classic Rock artists such as The Beatles and Pink Floyd are used so often is definitely unexpected. However, it's not surprising that the music of classic rock pairs well with skating. Epic ballads help to build up a memorable closer, while faster, guitar-laced riffs pair well with numerous styles of skateboarding.

	 Consider, also, that both skateboarding and classic rock started off as symbols of the counter-culture, before gradually becoming features (though to different degrees) of the mainstream. 
	 </p>
	<p>
	When it comes to Hip Hop, skate videos favor pre-2000s artists, with the most popular being Gang Starr and Public Enemy.
	This disparity in the popularity of rappers before and after the 2000s is not a result of earlier rappers having had more air time; the top hip hop artist for every year post 2000, with the exception of RJD2, is from the 90s. I should note that, while this trend exists for full-length skate videos, shorter clips, in particular instagram, are almost entirely contemporary hip hop.
	</p>

	<p> Unlike other genres, Indie music isn't dominated by a few unique artists. Instead, many artists feature similar levels of popularity, reflecting the high popularity of the genre, and the wealth of selection it provides. The most-used indie artists are exactly whom we'd expect. New Order, Modest Mouse, Joy Division, Sonic Youth, etc. These artists are among those most-often associated with skateboarding, and it's no surprise to see their popularity reflected in skate videos. 
	</p>

	<p>
	Despite never dominating a particular era in skateboarding, metal consistently earned an audience.
	Several of the featured metal artists, such as Bad Shit, CKY, and Grindline The Band, have direct roots to skateboarding. 
	Tommy Guerrero, the most popular jazz artist, is himself a professional skateboarder-turned-musician. The same is true of Ray Barbee, another popular Jazz musician
	</p>


	<p> The most popular artsits in punk, Bad Brains, Minor Threat, Devo, Black Flag - reads like a whos-who of influential artists in the genre. Unsurprisingly, Fugazi leads the pack. Fugazi has been paired with some of skateboarding's most iconic skateboarders, and Ian Mackaye, Fugazi (and Minor Threat) lead singer, was at one point an avid skateboarder.
	<br>
	<br>
	Mackaye described the influence skateboarding had on his music, and detailed the contrast between the openness/accessibility of skateboarding and punk rock, with the closed off, exclusive culture of mainstream music. This sentiment is undoubtedly shared by many skateboarders-turned-musicians, and is likely a large reason indie, hip hop, and punk have come to dominate skateboarding to such an extent.

	</p>






</div>
</div>
