
<div style="background-color:white;">

<h1 class='intro__hed tk-canela'>The Most Popular Artists</h1>
<div class="body_text">
	<p>
	Overall, the most frequently employed genre in skateboarding is [], having been used in % across all videos.
	Hip Hop comprises X % of the music in skateboarding. Classic Rock X %. Indie music, which dominates the contemporary, comprises X% overall, while electronic and rock, combined, yield less than X%.
	(insert very small table with genre breakdowns, then discuss how this relates to time-series?)
	</p>

	<p>  Let's turn out attention to the artists that comprise skateboarding's playlist, and explore directly those artists driving the ebbs-and-flows of cultures,the members of skateboarding's coveted playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across all skate videos.</p>

	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>


</div>

	<div id="vis">
</div>

<div class="body_text">
	<br>
	<p>  Clearly, those artists featured most often in skate videos span a diverse array of genres. I should be mentioned that genre classification is ambigous and subjective, and [even within a single genre](https://pudding.cool/2017/03/punk/), can be quite a dynamic process. I favored large, broad gender categories because more micro-level classifications were too small to track meaningful changes in genre. 

	I should mention that, because of the ambiguity of genre classiciation, I opted for broad genre categories.
	Because of the ambiguity and subjectivity of genre classiciation (it's hard [even within a single genre](https://pudding.cool/2017/03/punk/)), I opted to use broad genre categories.
	</p>


	<h4> Hip Hop Favors the Veterans </h4>
	<p>
	As opposed to contemprary rappers (Kendrick Lamar, Drake, Kanye West, etc.). Hip Hop takes a favoring to older, more lyrical-based artists, like Gang Starr and Public Enemy. While this could be a result of time, consider the following time series of these artists, showing results independent of time.

	Indie and Punk 

	<h4>Jazz</h4>
	<p>
	The most popular Jazz artist, Tommy Guerrero, has his roots in skateboarding
	</p>

	<h4>Electronic</h4>
	<p>
	Electronic music is used sparsely in skate videos. Sol, the most popular artist, had the intro-theme for the monthly 411 Video Magazine. Odd Nosdam and Baron, the second and third most popular artists of the genre, respecitvely, each did the music for an entire skate video. Adeodat Warfield, with a respectable-for-the-genre 11 plays, is himself a popular skateboarder from Arizona.
	</p>
	

	Those artists most-often associated with skateboarding belong to the punk and indie genres. Artists like Joy Division, Fugazi, Dinosaur Jr. and Modest Mouse are staples of skateboarding cultre, and appropriately see high-usage, consistently over time. The genres also have the largest number of unique artists


	Also among the most-featured artists are skateboarding staples Joy Division, Sonic Youth, Dinosaur Jr. and Modest Mouse. With the likes of Nas, Gang Starr, Biggie, and Public Enemy, hip hop is well represented as well.

	 In what is perhaps another surprise, punk music is less prevalent at the upper ends of popularity, That said, Fugazi is the third most-used artist across all videos, while Devo, GG Allin, and Black Flag  



	<h4> The dominance of Classic Rock</h4>
	<p> 
	Perhaps the most surprising result is the dominance of classic rock. While it's not the most popular genre overall (Indie and Hip Hop take that credit), it features the largest quantity of most-used artists.
	The results is surprising because those artists, such as The Beatles, The Rolling Stones, and Pink Floyd, are are fairly 'mainstream' - so, apart from making good music, how did they come to dominate the so-called soundtrack of the counterculture? 
	Aside from just 

	Despite their popularity, many classic rock songs still conjure up the counterculture spirit of skateboarding. Take a look at the most used songs in Classic Rock:

	Several songs, such as Jefferson Airplane's Volunteer, CCR's Fortunate Son, and SteppenWolf's Born To Be Wild speak directly to this sentiment.

	[graph of most used songs]

	Despite the perceived differences between their primary audiences, Classic Rock is something of a parallel to skateboarding. 

	Music can describe the time, origin, and culture of skateboarding. It's least likely genre, Classic Rock, also parallels it.
	Additionally, something can be said of the macro-similarities between classic rock and skateboarding. Both started off as symbols of the counter-culture, only to later gain mass appeal (skateboarding is heading to the 2020 Olympics), and have become influential pieces of contemporary culture.
	</p>

	 </p>

	 <p> 

	<h3> Conclusion </h3>
	<p> TO DO</p>




</div>
</div>
