<div class="opening-text">
	<div class="body_text block_one">
		<blockquote>
			"But the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack." - <a href="http://www.thrashermagazine.com/articles/corey-duffel-interview-3/">Corey Duffel</a>
		</blockquote>

		<p>Growing up, like most skaters, if I wasn't skating, I was watching skate videos, discovering not only my new favorite skaters but my new favorite music.
		</p>
		<p>The videos didn’t just feature a skateboarding—each skater’s section was accompanied by a song, often selected to set the tempo for the video, match the skater’s style, and contribute to the video’s overall aesthetic. My first skate video turned me on to a number of artists: Dinosaur Jr., Black Flag, and John Coltrane. In a time before Spotify or Pandora, skate videos provided something of a music tastemaker—a playlist of what's cool. The playlist spanned all genres and all time frames. It felt diverse. It felt countercultural.
		</p>
		<p>In what follows, we&rsquo;ll examine how the music of skateboarding changed over time, how genres relate to particular styles of skating, and which songs are associated with specific skaters.
		</p>
	</div>
</div>
