
<div class="body_text">
	<p>Let&rsquo;s now turn to artists. In the chart below, each circle represents an artist, color-coded by genre and sized proportionally to the number of times the artist is used across skate videos.
	</p>
</div>
<p class="bubble_main_title">The Most Popular Musicians, by Genre</p>
<div id="toolbar">
	<a id="genre" class="button active">By Genre</a>
	<a id="use" class="button">By Popularity</a>
	<input class="SearchBar" id="search" type="text" placeholder="Find an artist...">
</div>
<div id="vis"></div>
<div class="body_text">
	<ul>
		<li class="waffle_list">
			<p>The popularity of classic rock artists such as the Beatles and Pink Floyd is surprising, perhaps because classic rock has grown to become strongly associated with mainstream music, while skateboarding is generally associated with counterculture genres, such as punk or hip hop. Still, their epic ballads and guitar-laced riffs definitely <a href="https://www.youtube.com/watch?v=CGCqHn4Rpbc&t=106s">have their place</a> in skateboarding.
			</p>
	 </li>
	 <li class="waffle_list">
		 <p>When it comes to hip hop, skaters favor pre-2000s artists, with the most popular including Gang Starr, Mobb Deep, and Public Enemy. While this preference may appear to be the result of a temporal bias (after all, earlier artists have more opportunity for air time), consider that for every year after 1999, the most popular hip hop artist is from the &lsquo;90s.
		 </p>
	 </li>
	 <li class="waffle_list">
		 <p>Indie music in skate videos isn't dominated by a select few artists. Rather, skate videos feature many artists at similar rates, reflecting the popularity and wide selection of the genre. Arguably, this genre is responsible for the largest number of artists most strongly associated with skateboarding, including New Order, Modest Mouse, Dinosaur Jr., and Sonic Youth.
		 </p>
	 </li>
	 <li class="waffle_list">
		 <p>Sol, the most popular electronic artist, was heavily used in <a href="http://skately.com/library/brands/411vm"><i>411VM</i></a>, a video magazine from the early 2000s. Baron and Odd Nosdam, the second and third most popular artists of the genre, were each recruited to create soundtracks for individual skate videos. They are the source of the two spikes for electronic music in the time series shown earlier in this essay.
		 </p>
	 </li>
	 <li class="waffle_list">
		 <p>Many of the displayed artists are themselves skateboarders. Bad Shit, Grindline the Band, and CKY are composed entirely of skateboarders. Bad Shit's guitarist is the editor of <a href="http://www.thrashermagazine.com"><i>Thrasher Magazine</i></a>, the so-called bible of skateboarding. The most used artist from jazz, Tommy Guerrero, is himself a professional skateboarder-turned-musician. The same is true of Ray Barbee, another popular jazz musician.
		 </p>
	 </li>
	 <li class="waffle_list">
		 <p>Fugazi leads punk as the most popular artist of the genre and has been paired with some of skateboarding's most iconic skateboarders. Lead singer Ian Mackaye (also of Minor Threat) was an avid skateboarder before getting into music, and described skateboarding as a <a href="http://juicemagazine.com/home/ian-mackaye/">defining influence</a> for his life and music. Other highly used punk artists, such as Bad Brains, Devo, and Black Flag, are legends of the genre, and their inclusion is hardly surprising.
		 </p>
	 </li>
	</ul>
	<hr>
	<h4>Data and Methodology</h4>
	<p class="footer-prose">Skate video soundtracks are via <a href="http://www.skatevideosite.com/">skatevideosite.com</a>. To give a more accurate view into music in popular skateboarding culture, videos not associated with established skateboarders or skateboarding companies were omitted. Because genre is hard to classify, artists were fed through Spotify's API  and genres were binned into broader categories. In the artist chart, musicians  featured at least four times in skate videos were included. If you have any questions or comments, reachout via  <a href="http://twitter.com/jdwlbr">@jdwilbr</a>.
	</p>
</div>
