<div>
<div class="body_text">
	<blockquote>
		"But the most important thing is a good song. The best skateboarding in the world can look fucking awful with a bad soundtrack."
	</blockquote>

	<blockquote>
		"Skateboard videos don’t do that. The music runs parallel with the visual, and one hopes that they both accelerate each other." (http://www.rippedlaces.com/2016/06/skateboardings-beloved-soundtracks-fugazi-with-words-by-ian-mackaye/)
	</blockquote>

	<p> Since its earliest days, skateboarding has been intrinsically linked with music. 
	Many well-known artists have referenced skateboarding as a defining influence, and many popular songs explicitly mention the act skateboarding.
	Culturally, skateboarding is associated with a large variety of musical styles, and while some styles have been more-or-less popular at different points in time, almost all have had a place at some point in skateboarding. 
	</p>

	<p>
	Skate videos showcase skateboarding from some company or group of friends. In general, each skater gets their own section in the video, with his/her own song.
	The choice of song is very important, sometimes even more so than the skating itself. A good song sets the tempo of the video part; it matches with the skater's style and contributes to an overall aesthetic for the video. In contrast, a bad song ruins the experience, and results in an unremarkable video part, destined to be forgotten.
	</p>
	<p>


	Growing up, like most skaters, if I wasn't skating, I was watching skate videos, discovering not only my new favourite skaters, but my new favourite music. 
	My first skate video, Blind's Video Days, turned me on to a diverse set of awesome artists, such as Dinosaur Jr., Black Flag, and John Coltrane.
	</p>
	<p>
	In a time before Spotify or Pandora, skate videos provided something of a music tastemaker - a playlist of what's cool and who's hot in music. It spanned all genres, and all time-frames. It felt diverse. It felt counterculture. It felt cool.

	In what follows, we'll learn how the music in skate videos tracks the evolution of the styles and trends in skateboarding over time. We'll also identify the most-used artists in skate videos, and explore the contents of the influential soundtrack of skateboarding.
	 </p>

	</div>
</div>

