
<div style="background-color:white;">

<h1 class='intro__hed tk-canela'>The Most Popular Artists</h1>
<div class="body_text">
	<p>
	Overall, the most frequently employed genre in skateboarding is [], having been used in % across all videos.
	Hip Hop comprises X % of the music in skateboarding. Classic Rock X %. Indie music, which dominates the contemporary, comprises X% overall, while electronic and rock, combined, yield less than X%.
	(insert very small table with genre breakdowns, then discuss how this relates to time-series?)
	</p>

	<p>  Let's turn out attention to the artists that comprise skateboarding's playlist, and explore directly those artists driving the ebbs-and-flows of cultures,the members of skateboarding's coveted playlist.
	
	In the graph below, each node represents an artist. Each node is color-coded by genre, and sized proportionally to the number of times that artist is used across all skate videos.</p>

	<div id="toolbar">
		<a id="genre" class="button active">By Genre</a>
		<a id="use" class="button">By Popularity</a>
		<div class="SearchBar"></div>
	</div>


</div>

	<div id="vis">
</div>

<div class="body_text">
	<br>
	<p>  Those artists featured most often in skate videos span a diverse array of genres. Surprisingly, the most popular artists come from Classic Rock, with The Beatles, Pink Floyd, Led Zeppelin, CCR and The Rolling Stones all seeing high prominence. In fact, The Beatles and The Rolling Stones are the two most popular artists across all skate videos.


	Also among the most-featured artists are skateboarding staples Joy Division, Sonic Youth, Dinosaur Jr. and Modest Mouse. With the likes of Nas, Gang Starr, Biggie, and Public Enemy, hip hop is well represented as well.

	 In what is perhaps another surprise, punk music is less prevalent at the upper ends of popularity, That said, Fugazi is the third most-used artist across all videos, while Devo, GG Allin, and Black Flag  </p>




</div>
</div>
