	<div class="body_text">
		<p>
			Temporal shifts in genre parallel major cultural shifts at the macro-level in skateboarding. This is especially true for skateboarding's earlier days, when the culture was smaller and, therefore, more homogenous. 
			But how well do genres map to more micro-level details of skate culture? To investigate, I looked at the genre distributions for thirty-two of the most popular skateboarding-affiliated companies. 
		</p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<center><div class="waffle_main_title"></div></center>
	<br>
	<br>
<div>
	<center><div class="waffle_legend"></div></center>
	<br>
	<div class="waffle_col"> 
	    <div class="waffle_row_1"></div>
	    <div class="waffle_row_2"></div>
	    <div class="waffle_row_3"></div>
	    <div class="waffle_row_4"></div>
	    <div class="waffle_row_5"></div>
	    <div class="waffle_row_6"></div>
	    <div class="waffle_row_7"></div>
	    <div class="waffle_row_8"></div>
	    <div class="waffle_row_9"></div>
	    <div class="waffle_row_10"></div>
	    <div class="waffle_row_11"></div>
	    <div class="waffle_row_12"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_13"></div>
	    <div class="waffle_row_14"></div>
	    <div class="waffle_row_15"></div>
	    <div class="waffle_row_16"></div>
	    <div class="waffle_row_17"></div>
	    <div class="waffle_row_18"></div>
	    <div class="waffle_row_19"></div>
	    <div class="waffle_row_20"></div>
	    <div class="waffle_row_21"></div>
	    <div class="waffle_row_22"></div>
	    <div class="waffle_row_23"></div>
	    <div class="waffle_row_24"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_25"></div>
	    <div class="waffle_row_26"></div>
	    <div class="waffle_row_27"></div>
	    <div class="waffle_row_28"></div>
	    <div class="waffle_row_29"></div>
	    <div class="waffle_row_30"></div>
	    <div class="waffle_row_31"></div>
	    <div class="waffle_row_32"></div>
	    <div class="waffle_row_33"></div>
	    <div class="waffle_row_34"></div>
	    <div class="waffle_row_35"></div>
	    <div class="waffle_row_36"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_37"></div>
	    <div class="waffle_row_38"></div>
	    <div class="waffle_row_39"></div>
	    <div class="waffle_row_40"></div>
	    <div class="waffle_row_41"></div>
	    <div class="waffle_row_42"></div>
	    <div class="waffle_row_43"></div>
	    <div class="waffle_row_44"></div>
	    <div class="waffle_row_45"></div>
	    <div class="waffle_row_46"></div>
	    <div class="waffle_row_47"></div>
	    <div class="waffle_row_48"></div>
	</div>

	<div class="body_text">
		<p>
			As expected, the styles and aesthetics of many skate companies are encoded in their music selection.
			<br>
			<br>
			Of all companies, the most dominant example of genre loyalty is DGK's whopping 92% use of Hip Hop. Other companies, namely SK8MAFIA and Zoo York, also employ Hip Hop as their majority choice of genre.
			All three companies are known for technical street skating and, recalling the coupled rise of Hip Hop and technical street skating in the 1990s, such results are expected.
			<br>
			<br>
			Metal music is generally associated with transition skating. Accordingly, transition-focused companies, such as Blood Wizard, Bacon, and Creature, see the highest supply of metal music. Indie music, which has already been established as something of the music-for-the-masses, proves true to its name, with almost every company featuring at least 10% of the genre. It just goes well with skating.
			<br>
			<br>
			Interestingly, all of the companies that use Jazz in 20% or more of their videos sponsor skaters that were featured in Blind's classic skate video Video Days, which helped put Jazz on the map in 1991.
		</p>
	</div>
</div>