	<center><div class="waffle_main_title"></div></center>
	<div>
	<center><div class="waffle_legend"></div></center>
	<div class="waffle_col"> 
	    <div class="waffle_row_1"></div>
	    <div class="waffle_row_2"></div>
	    <div class="waffle_row_3"></div>
	    <div class="waffle_row_4"></div>
	    <div class="waffle_row_5"></div>
	    <div class="waffle_row_6"></div>
	    <div class="waffle_row_25"></div>
	    <div class="waffle_row_26"></div>
	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_7"></div>
	    <div class="waffle_row_8"></div>
	    <div class="waffle_row_9"></div>
	    <div class="waffle_row_10"></div>
	    <div class="waffle_row_11"></div>
	    <div class="waffle_row_12"></div>
	    <div class="waffle_row_27"></div>
	    <div class="waffle_row_28"></div>

	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_13"></div>
	    <div class="waffle_row_14"></div>
	    <div class="waffle_row_15"></div>
	    <div class="waffle_row_16"></div>
	    <div class="waffle_row_17"></div>
	    <div class="waffle_row_18"></div>
	    <div class="waffle_row_29"></div>
	    <div class="waffle_row_30"></div>

	</div>

	<div class="waffle_col"> 
	    <div class="waffle_row_19"></div>
	    <div class="waffle_row_20"></div>
	    <div class="waffle_row_21"></div>
	    <div class="waffle_row_22"></div>
	    <div class="waffle_row_23"></div>
	    <div class="waffle_row_24"></div>
	    <div class="waffle_row_31"></div>
	    <div class="waffle_row_32"></div>

	</div>
</div>