<div class="body_text">
	<p>Different music genres are often associated with particular styles of skateboarding. For example, hip hop is often used with technical street skating, while heavier, faster music, such as punk or metal, is generally used alongside transition skating.
	</p>
	<p>Similarly, different skate companies are often affiliated with specific styles of skateboarding. Is it possible to determine a company's primary style of skateboarding by observing the music it employs in skate videos?
	</p>
	<p>To investigate, I examined the distribution of genres for 32 of the most popular companies in skateboarding.
	</p>
</div>
<p class="waffle_main_title">Genre Distributions by Company</p>
<div class="waffle_legend"></div>
<div class="waffle_new">
	<div class="waffle_row_1 waffle_row"></div>
	<div class="waffle_row_2 waffle_row"></div>
	<div class="waffle_row_3 waffle_row"></div>
	<div class="waffle_row_4 waffle_row"></div>
	<div class="waffle_row_5 waffle_row"></div>
	<div class="waffle_row_6 waffle_row"></div>
	<div class="waffle_row_7 waffle_row"></div>
	<div class="waffle_row_8 waffle_row"></div>
	<div class="waffle_row_9 waffle_row"></div>
	<div class="waffle_row_10 waffle_row"></div>
	<div class="waffle_row_11 waffle_row"></div>
	<div class="waffle_row_12 waffle_row"></div>
	<div class="waffle_row_13 waffle_row"></div>
	<div class="waffle_row_14 waffle_row"></div>
	<div class="waffle_row_15 waffle_row"></div>
	<div class="waffle_row_16 waffle_row"></div>
	<div class="waffle_row_17 waffle_row"></div>
	<div class="waffle_row_18 waffle_row"></div>
	<div class="waffle_row_19 waffle_row"></div>
	<div class="waffle_row_20 waffle_row"></div>
	<div class="waffle_row_21 waffle_row"></div>
	<div class="waffle_row_22 waffle_row"></div>
	<div class="waffle_row_23 waffle_row"></div>
	<div class="waffle_row_24 waffle_row"></div>
	<div class="waffle_row_25 waffle_row"></div>
	<div class="waffle_row_26 waffle_row"></div>
	<div class="waffle_row_27 waffle_row"></div>
	<div class="waffle_row_28 waffle_row"></div>
	<div class="waffle_row_29 waffle_row"></div>
	<div class="waffle_row_30 waffle_row"></div>
	<div class="waffle_row_31 waffle_row"></div>
	<div class="waffle_row_32 waffle_row"></div>
	<div class="waffle_row_33 waffle_row"></div>
	<div class="waffle_row_34 waffle_row"></div>
	<div class="waffle_row_35 waffle_row"></div>
	<div class="waffle_row_36 waffle_row"></div>
	<div class="waffle_row_37 waffle_row"></div>
	<div class="waffle_row_38 waffle_row"></div>
	<div class="waffle_row_39 waffle_row"></div>
	<div class="waffle_row_40 waffle_row"></div>
	<div class="waffle_row_41 waffle_row"></div>
	<div class="waffle_row_42 waffle_row"></div>
	<div class="waffle_row_43 waffle_row"></div>
	<div class="waffle_row_44 waffle_row"></div>
	<div class="waffle_row_45 waffle_row"></div>
	<div class="waffle_row_46 waffle_row"></div>
	<div class="waffle_row_47 waffle_row"></div>
	<div class="waffle_row_48 waffle_row"></div>
</div>

<div class="body_text">
	<p>Some observations are immediately apparent:
	</p>
	<ul>
		<li class="waffle_list">
			<p>The most dominant example of genre loyalty is DGK's whopping 92% use of hip hop. Other companies, namely SK8MAFIA and Zoo York, also employ hip hop as their predominant choice of genre. Because of their concurrent popularity in the 1990s, hip hop and technical street skating are strongly associated with one another. Sure enough, the companies with high usage of hip hop are principally known for technical street skating.
			</p>
		</li>
		<li class="waffle_list">
			<p>Metal music is most often associated with transition skating. Transition-focused companies, such as Blood Wizard, Bacon, and Creature, feature the genre the most.
			</p>
		</li>
		<li class="waffle_list">
			<p>Classic rock is often used with a so-called “hesh” style of skateboarding, which is something of a catch-all term describing a gritty, unkempt style. This is reflected in the high use of the genre among companies such as $lave, Vox, Lurkville, and Zero.
			</p>
		</li>
		<li class="waffle_list">
			<p>Indie music, something of a music-for-the-masses in skateboarding, proves true to its name, with almost every company featuring indie music in at least 10% of songs.
			</p>
		</li>
		<li class="waffle_list">
			<p>As a final note of interest, all of the companies that use jazz 20% or more in their videos sponsor skaters who were featured in Spike Jonze's classic 1993 video "Video Days," one of the first videos to pair jazz with skateboarding.
			</p>
		</li>
	</ul>
	<hr>
</div>
