<div class="body_text">
	<p>Different music genres are often associated with particular styles of skateboarding. For example, Hip Hop is often used with technical street skating, while heavier, faster music, such as Punk or Metal, is generally used alongside transition skating.
	</p>
	<p>Simlarily, different skate companies are often affiliated with specific styles of skateboarding. This begs the question, <i>can we determine a company's primary style of skateboarding, by observing the music is employs in skate videos?</i>
	</p>
	<p> To investigate, I looked at the genre distributions for thirty-two of the most popular companies in skateboarding.
	</p>
</div>
<p class="waffle_main_title">Genre Distributions by Company</p>
<div class="waffle_legend"></div>
<div class="waffle_new">
	<div class="waffle_row_1 waffle_row"></div>
	<div class="waffle_row_2 waffle_row"></div>
	<div class="waffle_row_3 waffle_row"></div>
	<div class="waffle_row_4 waffle_row"></div>
	<div class="waffle_row_5 waffle_row"></div>
	<div class="waffle_row_6 waffle_row"></div>
	<div class="waffle_row_7 waffle_row"></div>
	<div class="waffle_row_8 waffle_row"></div>
	<div class="waffle_row_9 waffle_row"></div>
	<div class="waffle_row_10 waffle_row"></div>
	<div class="waffle_row_11 waffle_row"></div>
	<div class="waffle_row_12 waffle_row"></div>
	<div class="waffle_row_13 waffle_row"></div>
	<div class="waffle_row_14 waffle_row"></div>
	<div class="waffle_row_15 waffle_row"></div>
	<div class="waffle_row_16 waffle_row"></div>
	<div class="waffle_row_17 waffle_row"></div>
	<div class="waffle_row_18 waffle_row"></div>
	<div class="waffle_row_19 waffle_row"></div>
	<div class="waffle_row_20 waffle_row"></div>
	<div class="waffle_row_21 waffle_row"></div>
	<div class="waffle_row_22 waffle_row"></div>
	<div class="waffle_row_23 waffle_row"></div>
	<div class="waffle_row_24 waffle_row"></div>
	<div class="waffle_row_25 waffle_row"></div>
	<div class="waffle_row_26 waffle_row"></div>
	<div class="waffle_row_27 waffle_row"></div>
	<div class="waffle_row_28 waffle_row"></div>
	<div class="waffle_row_29 waffle_row"></div>
	<div class="waffle_row_30 waffle_row"></div>
	<div class="waffle_row_31 waffle_row"></div>
	<div class="waffle_row_32 waffle_row"></div>
	<div class="waffle_row_33 waffle_row"></div>
	<div class="waffle_row_34 waffle_row"></div>
	<div class="waffle_row_35 waffle_row"></div>
	<div class="waffle_row_36 waffle_row"></div>
	<div class="waffle_row_37 waffle_row"></div>
	<div class="waffle_row_38 waffle_row"></div>
	<div class="waffle_row_39 waffle_row"></div>
	<div class="waffle_row_40 waffle_row"></div>
	<div class="waffle_row_41 waffle_row"></div>
	<div class="waffle_row_42 waffle_row"></div>
	<div class="waffle_row_43 waffle_row"></div>
	<div class="waffle_row_44 waffle_row"></div>
	<div class="waffle_row_45 waffle_row"></div>
	<div class="waffle_row_46 waffle_row"></div>
	<div class="waffle_row_47 waffle_row"></div>
	<div class="waffle_row_48 waffle_row"></div>
</div>

<div class="body_text">
	<p>
		It looks like genre provides a reasonable encoding for the skateboarding style of many companies.
		 Some observations are immediately apparent:
		<br>
		<br>
		<ul>
			<li class="waffle_list"> <p>The most dominant example of genre loyalty is DGK's whopping 92% use of Hip Hop. Other companies, namely SK8MAFIA and Zoo York, also employ Hip Hop as their majority choice of genre. Because of their coupled rising in the 1990s, Hip Hop and technical street skating are strongly associated with one another. Sure enough, those companies with high usage of Hip Hop, including those mentioned above, are principally known for technical street skating. <!--Thus, the association between Hip Hop and technical street skating still exists to this day, far beyond their coupled rising in the 1990s.--></p>
		</li>

			<li class="waffle_list"> <p>Metal music is most often associated with transition skating. This association is clearly rooted in reality, as transition-focused companies, such as Blood Wizard, Bacon, and Creature, see the highest employment of the genre.</p>
			</li>

			<li class="waffle_list"> <p>Classic Rock is often used with a so-called 'hesh' style of skateboarding, which is something of a catch-all term describing a gritty, unkempt style. This is reflected in the high use of the genre with companies like $lave, Vox, Lurkville, and Zero.</p>
			</li>

			<li class="waffle_list"> <p>Indie music, something of the music-for-the-masses in skateboarding, proves true to its name, with almost every company featuring at least 10% of the genre.</p>
			</li>
			<li class="waffle_list"> <p>As a final note of interest, all of the companies that use Jazz 20% or more of the time sponsor skaters that were featured in Spike Jonze's classic 1993 video "Video Days", one of the first videos to pair Jazz with skateboarding.</p>

			<p>
			</li>
		</ul>

		<br>
		<hr>
		<br>

	</p>
</div>
</div>
